article{
	width:877px;
	min-height:620px;
	text-align:center;
	background-color:#f5f6f8;
	margin:0px auto;
}


header{
	text-align:center;
	margin:10px 0px;
}

a{
	color:#16a085;
	font-size:9pt;
	text-align:center;
	font-family:Times New Roman, sans-serif;
	text-decoration:none;
	margin-right:34px;
	font-weight:bold;
}

img{
	width:877px;
	height:520px;
}
h3{
	text-align:center;
	font-family: roman ,Times New Roman, sans-serif;
	color:#373737;
}
.content{
	text-align:center;
	font-family: roman ,Times New Roman, sans-serif;
	color:#373737;	
	width:800px;
	margin:0px auto;
	font-weight:bold;
	font-size:11pt;
	line-height:1.5;
	margin-bottom:20px;
}

button{
	width:190px;
	height:50px;
	background-color:#16a085;
	color:white;
	margin:0px auto;
	font-family: roman ,Times New Roman, sans-serif;
	border-radius:5px;
	border:0px solid #16a085; 
}
footer{
	color:#373737;
	font-weight:bold;
	font-size:14px;
	display: block; 
    margin: 35px auto; 
    width: 877px; 
    text-align: right; 
}